source.env
kubeconfig*
.python-version
working.md
bash-functions.sh
pvc.yaml
test.yaml
test.sh
grafana-values/grafana-oauth-secrets.yaml
grafana-values/grafana-virtualservice.yaml
.terraform*
sbx-i01-aws-us-east-1.json
prod-i01-aws-us-east-2.json
*.auto.tfvars.json